
<form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="DOB">DOB</label>
      <input id="DOB" type="date" class="form-control">
    </div>
    <div class="form-group">
      <label for="Country">Country</label>
      <select id="Country" class="form-control">
        <option value=""></option>
      </select>
    </div>
    <div class="form-group">
      <label for="Phone">Phone</label>
      <input id="Phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control">
    </div>
    
  
    <div class="form-group">
      
        <mat-radio-button name="Gender" value="male">Male</mat-radio-button>
        <mat-radio-button  name="Gender" value="female">Female</mat-radio-button>
      
    </div>
  
  </form>