<!-- <div   class = "container2"  fxLayout = "row" fxLayoutGap = "3%" fxLayout.xs = "column" >
  
    <button mat-raised-button color = "primary">Primary</button>
    <button mat-raised-button color = "accent">Accent</button>
    <button mat-raised-button color = "warn">Warn</button>
    
  
</div> -->



<div class = "flex-container" fxLayoutGap = "3%" fxLayout.xs = "column" fxLayoutGap.xs = "3%">

  <button class = "flex-item" mat-raised-button color = "primary">Primary</button>
  <button class = "flex-item" mat-raised-button color = "accent">Accent</button>
  <button class = "flex-item" mat-raised-button color = "warn">Warn</button>


</div>

<div class = "flex-container" fxLayoutGap = "3%" fxLayout.xs = "column" fxLayoutGap.xs = "3%">

  <button class = "flex-item" mat-raised-button>Palette 1</button>
  <button class = "flex-item" mat-raised-button>Palette 2</button>
  <button class = "flex-item" mat-raised-button>Palette 3</button>
  <button class = "flex-item" mat-raised-button>Palette 4</button>

</div>
