// @import '~@angular/material/theming';

// @include mat-core();

// $candy-app-primary: mat-palette($mat-indigo);
// $candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);


// $custom-theme: mat-light-theme($candy-app-primary,$candy-app-accent );
// @include angular-material-theme($custom-theme);


// @import '~@angular/material/theming';

// mixin name will be used in main style.scss
// @mixin big-input-component-theme($theme) {
  
//   // retrieve variables from theme 
//   // (all possible variables, use only what you really need)
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, accent);
//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);
  
//   // all of these variables contain many additional variables

//   big-input {

//     input {
    
//       // retrieve particular color from variable, rg: text, base, divider, ...
//       color: mat-color($foreground, text);
//       background-color: mat-color($background, card);
      
//       // or use "default" subvariable by default, oh the puns :)
//       border: 1px solid mat-color($accent);
//     }
//   }
// }






// $candy-primary: mat-palette($mat-amber);
// $candy-accent:  mat-palette($mat-pink, A200, A100, A400);
// $candy-warn:    mat-palette($mat-deep-orange);
// $candy-theme:   mat-light-theme($candy-primary, $candy-accent,$candy-warn);

// Default theme styles.
// @include angular-material-theme($candy-theme);
@import '~@angular/material/theming';
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@include mat-core();



// @import '~@angular/material/theming';
$my-theme-primary: mat-palette($mat-green);
$my-theme-accent : mat-palette($mat-pink);
$my-theme-warn   : mat-palette($mat-purple);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
// @include angular-material-theme($my-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.theme1 {
  @include angular-material-theme($dark-theme);
  // background: gray;
  // @include angular-material-theme($my-theme);
}
.theme2{
  @include angular-material-theme($my-theme);
}


.body{
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);

.content{
  margin: 5%;
}